name: Build and Deploy

permissions:
  contents: write

on:
  push:
    branches:
      - main  # Trigger on pushes to main

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - uses: dtolnay/rust-toolchain@stable
      - name: Install wasm-pack
        run: cargo install wasm-pack

      - name: Build site
        run: make checksec_web

      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
